/* * BEGIN: Non Openmrs CSS * */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
	font-family: "Roboto";
}

h1{
	padding: 2%;
	text-align: center;
}

div.container {
	position: absolute;
	font-size: 24px;
	top: 10%;
	left: 10%;
	/* justify-content: space-around; */
	margin-top: 30px;
	border: .5em solid #121212;
	padding: 18px;
	border-radius: 8px;
	height: 80%;
	width: 80%
}

input{
	font-size: large;
	position: absolute;
	width: 30%;
	top: 45%;
	left: 35%;
	text-align: center;
	margin: 15px;
}

input:focus {
	outline-color: #11998e;
	background-color: #e8fcf9;
}

input:focus::placeholder {
	color: transparent;
}