/* .not-used {
    position: flex;
    items: center; px-5 gap-3 text-gray-500 hover:text-black transition-all duration-200 ease-in-out capitalize
} */

div.shell {
    position: absolute;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: white;
    left: 75%;
    top: 0%;
    height: 100vh;
    min-width: 25%;
    text-align: center;
}

.shell-inner {
    position: flex;
    flex-direction: column;
}

/* .active{
    font-weight: bold;
}

.not-active {
    color: blue;
} */

.ticker {
    width: 100%;
}

.ticker:hover, .ticker:focus .ticker:active{
    background: #13a818;    
    width: 100%;
}